<BasicDropdownWormhole />



<Button>
  Hello World
</Button>

<EuiComboBox
  @options={{this.options}}
  @selectedOptions={{this.selectedOptions}}
  @onChange={{this.onChange}}
  as |option|
>
  {{option.label}}
</EuiComboBox>